@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
}

div#login {
  position: absolute;
  height: 100%;
  width: 100%;

  form {
    margin: 200px auto;
    width: 340px;

    fieldset.login {
      padding: 5px 0;
      @include border-radius(4px);
      background: rgb(160, 150, 140);
      border: 3px solid rgb(187, 187, 187);
      color: rgb(60, 75, 90);
      line-height: 1.5;
      text-align: center;

      p.header {
        font-size: 1em;
        font-weight: bold;
      }

      label {
        padding: 0 10px 0 0;
        font-size: 0.95em;
      }

      input {
        padding: 0 0 0 2px;
        font-size: 0.9em;
        width: 220px;
      }

      button {
        margin: 5px 0;
        padding: 4px 0;
        border: 2px solid rgb(187, 187, 187);
        color: rgb(60, 75, 90);
        cursor: pointer;
        font-size: 0.9em;
        width: 60px;
      }

      div.spacer {
        height: 10px;
      }
    }
  }
}
