div#icon {
  img#satellite-icon {
    cursor: pointer;
    position: absolute;
    left: 22px;
    top: 125px;
  }

  img#biosphere-icon {
    cursor: pointer;
    position: absolute;
    left: 23px;
    top: 158px;
  }

  img#office-icon {
    cursor: pointer;
    position: absolute;
    left: 22px;
    top: 186px;
  }

  img#places-icon {
    cursor: pointer;
    position: absolute;
    left: 22px;
    top: 216px;
  }

  img#trails-icon {
    cursor: pointer;
    position: absolute;
    left: 22px;
    top: 246px;
  }

  img#heatmap-icon {
    cursor: pointer;
    position: absolute;
    left: 22px;
    top: 277px;
  }

  img#logout-icon {
    cursor: pointer;
    position: absolute;
    left: 22px;
    top: 307px;
  }
}
